@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter);
}

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 8px;
}

.slick-dots.slick-thumb li {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: rgb(255, 255, 255, 0.7);
}

.slick-dots.slick-thumb li.slick-active {
  background-color: white;
  width: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 8px;
  height: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.datePicker {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
